---
import Layout from '../layouts/Layout.astro';
import ContactForm from '../components/ContactForm.astro';
import { type CollectionEntry } from 'astro:content';

interface Props {
  entry: CollectionEntry<'pages'>;
}

const { entry } = Astro.props;
const { Content } = await entry.render();

const { title, description } = entry.data;
---

<Layout title={title} description={description}>
  <article class="contact-page page-template">
    <div class="post-content-body">
      <Content />
    </div>
    <ContactForm />
  </article>
</Layout>

<style>
  .contact-page {
    padding: 1rem;
  }

  .post-content-body {
    max-width: 800px;
    margin: 0 auto;
  }
</style>
